/* carousel */

.hmd-slider-carousel {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.hmd-slider-carousel .hmd-slider-list .hmd-slider-item {
    width: 270px;
    height: 180px;
    position: absolute;
    top: 80%;
    transform: translateY(-70%);
    right: 70%;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
    background-position: 50% 50%;
    background-size: cover;
    z-index: 100;
    transition: 1s;
}

.hmd-slider-carousel .hmd-slider-list .hmd-slider-item:nth-child(1),
.hmd-slider-carousel .hmd-slider-list .hmd-slider-item:nth-child(2) {
    top: 0;
    right: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.hmd-slider-carousel .hmd-slider-list .hmd-slider-item:nth-child(3) {
    right: 50%;
}

.hmd-slider-carousel .hmd-slider-list .hmd-slider-item:nth-child(4) {
    right: calc(50% + 283px);
}

.hmd-slider-carousel .hmd-slider-list .hmd-slider-item:nth-child(5) {
    right: calc(50% + 568px);
}

.hmd-slider-carousel .hmd-slider-list .hmd-slider-item:nth-child(6) {
    right: calc(65% + 565px);
}

.hmd-slider-carousel .hmd-slider-list .hmd-slider-item:nth-child(n+7) {
    right: calc(55% + 800px);
    opacity: 0;
}


.hmd-slider-list .hmd-slider-item .hmd-overlay {
    opacity: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(274deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6194852941176471) 45%, rgba(0, 212, 255, 0) 100%);
    animation: animate 1s ease-in-out 0.9s 1 forwards;
}

.hmd-slider-list .hmd-slider-item:nth-child(2) .hmd-overlay {
    display: block;
}

.hmd-slider-list .hmd-slider-item .hmd-slider-content {
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    max-width: 41%;
    text-align: right;
    color: #fff;
    display: none;
}

.hmd-slider-list .hmd-slider-item:nth-child(2) .hmd-slider-content {
    display: block;
}

.hmd-slider-content .title {
    font-size: 46px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    line-height: 1;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.hmd-slider-content .name {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 20px;

    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.hmd-slider-content .des {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    margin-left: 5px;
    color: #bdbdbd;

    opacity: 0;
    animation: animate 1s ease-in-out 0.9s 1 forwards;
}

.hmd-slider-content .hmd-slider-btn {
    margin-right: 5px;
    margin-top: 60px;
    opacity: 0;
    animation: animate 1s ease-in-out 1.2s 1 forwards;
}

.hmd-slider-content .hmd-slider-btn a {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid #fff;
}

.hmd-slider-content .hmd-slider-btn a:nth-child(1) {
    margin-left: 15px;
    background: #fff;
}

.hmd-slider-content .hmd-slider-btn a:nth-child(2) {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    transition: 0.3s;
}

.hmd-slider-content .hmd-slider-btn a:nth-child(2):hover {
    background-color: #14ff72cb;
    color: #fff;
    border-color: #14ff72cb;
}


@keyframes animate {

    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

/* Carousel */


/* next prev arrows */

.arrows {
    position: absolute;
    top: 58%;
    right: 50%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background-color: #ffffff59;
    color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

.arrows button:hover {
    background: #fff;
    color: #000;
}


/* time running */
.hmd-slider-carousel .timeRunning {
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 4px;
    background-color: #14ff72cb;
    left: 0;
    top: 0;
    animation: runningTime 7s linear 1 forwards;
}

@keyframes runningTime {

    from {
        width: 0%;
    }
    to {
        width: 100%;
    }

}


/* Responsive Design */

@media screen and (max-width: 999px) {

    header {
        padding-left: 50px;
    }

    .hmd-slider-list .hmd-slider-item .hmd-slider-content {
        left: 50px;
    }

    .hmd-slider-content .title, .hmd-slider-content .name {
        font-size: 70px;
    }

    .hmd-slider-content .des {
        font-size: 16px;
    }

}

@media screen and (max-width: 690px) {
    header nav a {
        font-size: 14px;
        margin-right: 0;
    }

    .hmd-slider-list .hmd-slider-item .hmd-slider-content {
        top: 40%;
    }

    .hmd-slider-content .title, .hmd-slider-content .name {
        font-size: 45px;
    }

    .hmd-slider-content .hmd-slider-btn button {
        padding: 10px 15px;
        font-size: 14px;
    }
}